/*
@media screen and (max-width: 360px) {
    body {
        margin: 0;
    }

    .Logo {
        margin: 10px;
        width: 90%;
    }

    nav {
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 20px;
        width: 100%;
    }

    #ShoppingCart {
        width: 20px;
        height: 20px;
    }

    ul.nav {
        padding-left: 0;
    }

    .UnActive {
        color: black;
    }

    .Active {
        color: #ead017;
    }

    ul.nav li.nav {
        list-style: none;
        margin: 0;
        border-left: 2px solid #ead017;
        border-right: 2px solid #ead017;
        display: inline-block;
        padding: 0 20px;
        position: relative;
        text-decoration: none;
        text-align: center;
    }

    li.nav a.nav {
        color: black;
        text-decoration: none;
    }

    li.nav a.nav:hover {
        color: #ead017;
    }

    li.nav:hover {
        cursor: pointer;
    }

    a.nav:active {
        color: #ead017;
    }

    #BannerIdx {
        width: 100%;
    }

    #bestShop {
        border: 2px solid #ead017;
        margin-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 1100px;
        height: auto;
    }

    .bestShop {
        position: relative;
    }

    .BuyHere {
        border: #ead017 solid 2px;
        width: 90%;
        font-weight: bold;
        color: black;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 7px;
        border-radius: 10px;
        box-shadow: 0 0 0 5px #ead017;
    }

    div.MainProd {
        box-sizing: border-box;
    }

    section.MainProd {
        position: relative;
        margin: 20px 0 0 0;
        width: 100%;
        float: left;
    }

    section.MainProdEx {
        position: relative;
        margin: 0 0 20px 0;
        width: 90%;
        float: left;
    }

    #ArduinoUno1 {
        float: right;
        width: 80px;
        height: 100px;
    }

    #ArduinoUno2 {
        float: left;
        width: 130px;
        height: 140px;
    }

    section.MainProdEx {
        position: relative;
        margin: 20px 0 0 0;
        width: 90%;
        float: left;
    }

    a.ArUnProj:link, a.ArUnProj:visited {
        color: #ead017;
        text-decoration: none;
        text-align: right;
    }

    div.Offers {
        clear: both;
        padding-top: 10px;
    }

    h2.Offers {
        text-align: center;
        text-decoration: double underline #ead017;
    }

    div.OfferProd {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    section.OfferProd {
        flex: 2;
    }

    img.OfferImg {
        flex: 1;
        width: 130px;
        height: 140px;
        border: 1px solid #ead017;
    }

    strike.OldP {
        color: red;
    }

    section.Copyright {
        background-color: black;
        color: #ead017;
    }

    Subcategory

    #BannerSub {
        width: 100%;
        border-top: 2px solid #ead017;
    }

    H3.BannerSubtxt{
        text-align: center;
        text-decoration: double underline #ead017;

    }

    p.BannerSubtxt{
        text-align: center;
        font-weight: bold;
        padding-bottom: 20px;
        border-bottom: 2px solid #ead017;
    }

    fieldset {
        border:  2px solid #ead017;
        box-sizing: content-box;
        position: relative;
        margin: 15px;
    }

    #ProductName {
        width: 100%;
    }

    button {
        padding: 5px;
        font-weight: bold;
        border: 2px solid #ead017;
        border-radius: 6px;
        background: none;
        cursor: pointer;
    }

    button:hover, button:focus {
        outline: none;
        background: black;
        color: white;
    }

    legend{
        font-weight: bold;
        color: #ead017;
    }

    div.SubProd {
        display: flex;
        border-top: 1px dashed #ead017;
        flex-direction: column;
        justify-content: right;
    }

    .SubProd > section{
        float: left;
    }

    .ShoppingCartsub > img {
        border: 2px solid black;
        border-radius: 6px;
        width: 40px;
        height: 40px;
        margin: 15px;
        clear: both;
    }

    img.SubImg {
        margin: 10px;
        width: 130px;
        height: 140px;
        border: 1px solid #ead017;
        float: right;
    }

    strike.OldP {
        color: red;
    }

    a.ProdDet, a.ProdDet:visited, a.ProdDet:link {
        color: black;
        text-decoration: none;
    }

    Product Detail page

    div.ProdDetHeader{
        border-bottom: 2px solid #ead017;
        margin-bottom: 12px;
    }

    H1.ProdDetHeader {
        margin: 7px;
    }

    #ProdDetImg {
        display: block;
        width: 60%;
        margin: 15px auto;
        max-width: 1110px;
        min-width: 330px;
        border: 2px solid #ead017;
    }

    div.ProdDetOpt {
        padding: 10px;
        Margin: 0 50px;
        border: 1px solid #ead017;
    }

    div.ProdDetDesc {
        margin: 0 7px;
    }

    H3.ProdDetDesc {
        margin: 0 7px;
    }

    ul.ProdDetDescL1 {
        list-style-type: square;
        margin: 7px 0;
    }

    ul.ProdDetDescL2 {
        list-style-type: disc;
    }

    p.ProdDetPrice {
        margin-left: 15px;
    }

    button.BuyMe {
        position: absolute;
        left: 253px;
        bottom: -388px;
    }

    Shopping cart page

    div.ShoppingCartProd {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-top: 1px dashed #ead017;
        padding: 10px 0;
    }

    div.ShoppingCartProdEnd {
        border-bottom: 1px dashed #ead017;
    }

    section.ShoppingCartProd {
        flex: 2;
    }

    h4.ShoppingCartProd {
        margin: 0;
    }

    h2.CostInput {
        text-align: center;
        border: 1px solid black;
    }

    .ShopPriceExBTW {
        margin-right: 5px;
        margin-bottom: 0;
        text-align: right;
    }

    p.TotalPricetxt{
        font-weight: bold;
        float: left;
    }

    div.TotalPrice {
        float: right;
    }

    div.TotalPricetxt {
        position: relative;
    }

    div.UserInfo {
        clear: both;
        width: 100%;
    }

    div.CostInput {
        box-sizing: border-box;
        position: relative;
    }

    .CostInput > label {
        right: 0;
    }

    .DivisionUserInfo {
        margin: 5px;
        display: block;
    }

    div.BuyButton {
        display: flex;
        justify-content: center;

        height: 40px;
        position: relative;
    }
    button.BuyButton {
        padding: 5px 100px;
        margin: 5px 0;
    }

    Conf page
    div.ThankYou {
        width: 100%;
        height: 390px;
    }

    H1.ThankYou {
        font-size: 45px;
        font-family: FifthGrader;
        text-align: center;
    }

    h2.ThankYou {
        color: white;
        background-color: black;
        margin: 0 15px;
        border: 3px solid black;
        text-align: center;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 601px) {
    body {
        margin: 0;
    }

    .Logo {
        display: flex;
    }

    #Logo {
        margin: 10px;
        width: 90%;
    }

    nav {
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 20px;
        width: 100%;
    }

    #ShoppingCart {
        width: 20px;
        height: 20px;
    }

    ul.nav {
        padding-left: 0;
    }

    .UnActive {
        color: black;
    }

    .Active {
        color: #ead017;
    }

    ul.nav li.nav {
        list-style: none;
        margin: 0;
        border-left: 2px solid #ead017;
        border-right: 2px solid #ead017;
        display: inline-block;
        padding: 0 20px;
        position: relative;
        text-decoration: none;
        text-align: center;
    }

    li.nav a.nav {
        color: black;
        text-decoration: none;
    }

    li.nav a.nav:hover {
        color: #ead017;
    }

    li.nav:hover {
        cursor: pointer;
    }

    a.nav:active {
        color: #ead017;
    }

    #BannerIdx {
        width: 100%;
    }

    .bestShop {
        position: relative;
    }

    #bestShop {
        border: 2px solid #ead017;
        margin-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 1100px;
        height: auto;
    }

    .BuyHere {
        border: #ead017 solid 2px;
        width: 90%;
        font-weight: bold;
        color: black;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 7px;
        border-radius: 10px;
        box-shadow: 0 0 0 5px #ead017;
    }

    div.MainProd {
        box-sizing: border-box;
    }

    section.MainProd {
        position: relative;
        margin: 20px 0 0 0;
        width: 100%;
        float: left;
    }

    section.MainProdEx {
        position: relative;
        margin: 0 0 20px 0;
        width: 90%;
        float: left;
    }

    #ArduinoUno1 {
        float: right;
        width: 80px;
        height: 100px;
    }

    #ArduinoUno2 {
        float: left;
        width: 130px;
        height: 140px;
    }

    a.ArUnProj:link, a.ArUnProj:visited {
        color: #ead017;
        text-decoration: none;
        text-align: right;
    }

    div.Offers {
        clear: both;
    }

    h2.Offers {
        text-align: center;
        text-decoration: double underline #ead017;
    }

    div.OfferProd {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    section.OfferProd {
        flex: 2;
    }

    img.OfferImg {
        margin: 15px;
        flex: 1;
        width: 130px;
        height: 140px;
        border: 1px solid #ead017;
    }

    strike.OldP {
        color: red;
    }

    .ShoppingCartSub {
        border: 2px solid black;
        border-radius: 6px;
        width: 40px;
        height: 40px;
        margin-bottom: 15px;
        position: relative;
        left: 271px;
        top: -46px
    }

    a.ProdDet, a.ProdDet:visited, a.ProdDet:link {
        color: black;
        text-decoration: none;
    }

    footer {
        border-top: #ead017 1px solid;
        margin: 0;
        background: black;
        color: dimgray;
    }

    .Footer > p, .FooterA, .Footer {
        background: black;
    }

    a.FooterA{
        color: #ead017;
    }

    Subcat

    #BannerSub {
        width: 100%;
        border-top: 2px solid #ead017;
    }

    H3.BannerSubtxt{
        text-align: center;
        text-decoration: double underline #ead017;

    }

    p.BannerSubtxt{
        text-align: center;
        font-weight: bold;
        padding-bottom: 20px;
        border-bottom: 2px solid #ead017;
    }

    fieldset {
        border:  2px solid #ead017;
        box-sizing: content-box;
        position: relative;
        margin: 15px;
    }

    #ProductName {
        width: 100%;
    }

    button {
        padding: 5px;
        font-weight: bold;
        border: 2px solid #ead017;
        border-radius: 6px;
        background: none;
        cursor: pointer;
    }

    button:hover, button:focus {
        outline: none;
        background: black;
        color: white;
    }

    legend{
        font-weight: bold;
        color: #ead017;
    }

    div.SubProd {
        display: flex;
        border-top: 1px dashed #ead017;
        flex-direction: column;
        justify-content: right;
    }

    .SubProd > section{
        float: left;
    }

    .ShoppingCartsub > img {
        border: 2px solid black;
        border-radius: 6px;
        width: 40px;
        height: 40px;
        margin: 15px;
        clear: both;
    }

    img.SubImg {
        margin: 10px;
        width: 130px;
        height: 140px;
        border: 1px solid #ead017;
        float: right;
    }

    strike.OldP {
        color: red;
    }

    a.ProdDet, a.ProdDet:visited, a.ProdDet:link {
        color: black;
        text-decoration: none;
    }

    Shopping Cart

    div.ShoppingCartProd {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-top: 1px dashed #ead017;
        padding: 10px 0;
    }

    div.ShoppingCartProdEnd {
        border-bottom: 1px dashed #ead017;
    }

    section.ShoppingCartProd {
        flex: 2;
    }

    h4.ShoppingCartProd {
        margin: 0;
    }

    h2.CostInput {
        text-align: center;
        border: 1px solid black;
    }

    .ShopPriceExBTW {
        margin-right: 5px;
        margin-bottom: 0;
        text-align: right;
    }

    p.TotalPricetxt{
        font-weight: bold;
        float: left;
    }

    div.TotalPrice {
        float: right;
    }

    div.TotalPricetxt {
        position: relative;
    }

    div.UserInfo {
        clear: both;
        width: 100%;
    }

    div.CostInput {
        box-sizing: border-box;
        position: relative;
    }

    .CostInput > label {
        right: 0;
    }

    .DivisionUserInfo {
        margin: 5px;
        display: block;
    }

    div.BuyButton {
        display: flex;
        justify-content: center;

        height: 40px;
        position: relative;
    }
    button.BuyButton {
        padding: 5px 100px;
        margin: 5px 0;
    }

    Product Detail page

    div.ProdDetHeader{
        border-bottom: 2px solid #ead017;
        margin-bottom: 12px;
    }

    #ProdDetImg {
        display: block;
        width: 60%;
        margin: 15px auto;
        max-width: 1110px;
        min-width: 330px;
        border: 2px solid #ead017;
    }

    H1.ProdDetHeader {
        margin: 7px;
    }

    div.ProdDetOpt {
        padding: 10px;
        Margin: 0 50px;
        border: 1px solid #ead017;
    }

    div.ProdDetDesc {
        margin: 0 7px;
    }

    H3.ProdDetDesc {
        margin: 0 7px;
    }

    ul.ProdDetDescL1 {
        list-style-type: square;
        margin: 7px 0;
    }

    ul.ProdDetDescL2 {
        list-style-type: disc;
    }

    p.ProdDetPrice {
        margin-left: 15px;
    }

    div.BuyButton {
        display: flex;
        justify-content: center;
        height: 40px;
        position: relative;
    }

    button.BuyButton {
        padding: 5px 100px;
        margin: 5px 0;
    }

    Conf page
    div.ThankYou {
        width: 100%;
        height: 390px;
    }

    H1.ThankYou {
        font-size: 45px;
        font-family: "Courier New";
        text-align: center;
    }

    h2.ThankYou {
        color: white;
        background-color: black;
        margin: 0 15px;
        border: 3px solid black;
        text-align: center;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 2560px){*/