caption {
    font-weight: bold;
    padding-bottom: 0.3em;
}

img {
    width: 30%;
    height: 30%;
}

table {
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
}

tr, td, th {
    border: 1px solid black;
    padding: 0.3em;
    text-align: center;
}

td.grass {
    background-color: lightgreen;
}

td.fire {
    background-color: lightcoral;
}

td.water {
    background-color: lightskyblue;
}

td[rowspan="2"] {
    width: 2em;
}