body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

button {
    color: blue;
    font-weight: bold;
    font-size: 150%;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px grey;
    background-color: gold;
    border: white;
}
