article {
    width: 60%;
}

.first {
    box-sizing: content-box;
    padding: 0px 15px;
    margin: 15px;
    border: red 5px solid;
}

.second {
    box-sizing: border-box;
    border: green 5px solid;
    margin: 15px;
    padding: 0px 15px ;
}